#intro {
    background-color: lightblue;
    height: 700px;
    padding-top: 50px;
}

#contact {
    background-color: lightblue;
}






.system-image {
    height: 350px;
    width: 350px;
    border-radius: 50%;
}

.title-h1 {
    margin-bottom: 30px;
    font-size: 5em;
    color: #152238!important;
}

.contact-h1 {
    text-align: left!important;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.contact-p {
   text-align: left!important;
}